:root {
  --primary: #11998e;
  --secondary: #38ef7d;
  --accent: #ff9f1c;
  --danger: #ff4f4f;
  --success: #28a745;
  --warning: #ffcc00;
  --info: #17a2b8;
  --white: #ffffff;
  --gray: #9b9b9b;
  --black: #000000;
  --background: #f5f5f5;
}

.toDoItem {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border: var(--black) 1px solid;
  border-radius: 5px;
  margin: 1%;
}

.toDoItem:hover {
  transform: scale(1.02);
}
/* After certain thing make it adjustable so use flex-direction: column; for better useability */

.toDoText {
  display: flex;
  flex-direction: column;
}


.modalFrame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalUI {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 40%;
  min-height: 300px;
  text-align: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.formDiv {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.modalInput {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--black);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .modalLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.modalLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
  pointer-events: none;
}

.modalInput:focus {
  ~ .modalLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--black);
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}
/* reset input */
.modalInput{
  &:required,&:invalid { box-shadow:none; }
}

.smoothButton {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.smoothButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
          circle,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.smoothButton:hover::after {
  transform: scale(4);
}

.smoothButton:hover {
  border-color: #666666;
  background: #292929;
}

.createButton {
  background-color: var(--black);
}

.updateButton {
    background-color: var(--gray);
}

.deleteButton {
    background-color: var(--danger);
}

.completeButton {
    background-color: var(--danger);
}

